.skillset .skills-group  > h3 {
  font-size: 16px;
  text-decoration: underline;
  margin-top: 12px;
  margin-bottom: 0;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .skillset .skills-group > h3 {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 0;
  }
}

.img-profile {
  width: 150px;
  height: auto;
}

.indent-icon {
  margin-left: 20px;
}

.fas, .fab {
  margin-right: 5px;
}

.text-align-center {
  max-width: 960px;
  margin: auto;
  position: relative;
  text-align: center;
}

.flag {
  width: 160px;
  height: auto;
  margin: 10px;
}

.translation {
    height: 20px;
    width: auto;
}

.index-main-wrapper {
  background: #fff;
  padding: 50px;
  page-break-before: always;
}

.main-wrapper-nav-button {
  transform: translateY(-25px);
}


/* Link to english and french resume */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column div {
  margin-top: 8px;
  vertical-align: middle;
  text-align: center;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
