.skillset .skills-group  > h3 {
  font-size: 16px;
  text-decoration: underline;
  margin-top: 12px;
  margin-bottom: 0;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .skillset .skills-group  {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 0;
  }
}


.wrapper {
    min-width: 16em;
}

.img-profile.index {
  width: 100%;
}

.indent-icon {
  margin-left: 20px;
}

.img-profile {
  width: 150px;
  height: auto;
}

.fas, .fab {
  margin-right: 5px;
}

.text-align-center {
  text-align: center;
}

.flag {
  width: 160px;
  height: auto;
  margin: 10px;
}

.translation {
    height: 1.4em;
    width: auto;
}

.wrapper.index {
  min-width: 16em;
}

.main-wrapper.index {
  padding: 20px;
  padding-top: 5px;
  color: black;
}

.name.index {
    margin-bottom: 0;
}

.index-sidebar-wrapper {
    min-height:0;
}

.profile-container.index {
    padding: 0;
    background: rgba(0, 0, 0, 0.2);
}

.main-wrapper-nav-button {
    transform: translate(60px, 20px);
    height: 0;
}

@media (max-width: 767px) {
    .main-wrapper-nav-button {
        transform: translate(30px, 20px);
    }
    .main-wrapper-nav-button a {
        color: white;
    }
}

/* Link to english and french resume */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* main */
/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column div {
  margin-top: 8px;
  vertical-align: middle;
  text-align: center;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Actu France */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .actu.france .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


/* Actuality */
#menu-actu, #menu-actu ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
    width: 100%;
    color: #fff;
}

#menu-actu li{
    display:inline-block;
    position:relative;
    width: 100%;
}

#menu-actu ul li{
    display:inherit;
    border-radius:0;
}

#menu-actu ul li:hover{
    border-radius:0;
}

#menu-actu ul li:last-child{
    border-radius:0 0 8px 8px;
    padding-bottom: 10px;
}

#menu-actu ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    background:#A15277;
    border-radius:0 0 8px 8px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 20px;
}

#menu-actu li:hover ul{
    max-height:200em;
}

/* background des menus */
#menu-actu li:first-child{
    background-image:-webkit-linear-gradient(top, #894465 0%, #A15277 100%);
    background-image:linear-gradient(to bottom, #894465 0%, #A15277 100%);
}

/* background des liens sous menus */
#menu-actu li:first-child li{
    background:#A15277;
}

.actu {
    padding-bottom: 15px;
    text-align: left;
    border-bottom: 2px dotted;
}

.actu:last-child {
    border-bottom-width:0;
}

.actu-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}

.actu-name {
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left:20px;
}

.actu-date {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0;
    font-size: 14px;
    margin-left:20px;
}

.actu-content {
    margin-left:20px;
}

img.france {
    max-width:300px;
}